<!DOCTYPE html>
<html>

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>

    <body>
        <div>
            
            <form>
                <label for="email">Email</label>
                <input type='text' data-ng-model="data.user.email" />
                <br />
                <label for="password">Password</label>
                <input type='password' data-ng-model="data.user.password" />
                <br />
                <label for="password">Remember me</label>
                <input type="checkbox" data-ng-model="data.user.rememberMe"/>
                <br />
                <input type='button' value='Login' data-ng-click="login()"/>
            </form>
            
            <a href="#register">Register</a>
        </div>
    </body>

</html>